
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size: 16px;

}


a{
    text-decoration: none; 

}
header{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    padding: 50px;

}
.fusion{

    font-size: 25px;
    font-weight: bolder;
    color: #f63854;
    letter-spacing: 2.0px;
}

.nav-area{
    list-style: none;

}

.nav-area>li{
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
}

.nav-area li a{
    color: #000;
}

.nav-area li a:hover{
    color: #f63854;
}

.intro{
    display: flex;
    margin-top: 2rem;
}

.stat{
margin-bottom: 1rem;
font-size: 25px;



}

.paragraph{
    padding: 1rem;
    margin: 2rem;
    flex: 1;
}

.paragraph .app{
    font-size: 50px;
    margin-bottom: 1rem;
    margin-top: -0.5rem;
    padding-bottom: 1rem;
}

.btn{
    margin: 1.5rem;
}

.download{
    margin-right: 2rem;
    padding: .9rem;
    width: 35%;
    border-radius: 3rem;
    border: none;
    color: white;
    background-color: red;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    
}

button{
	padding:10px 40px;
	display: inline-block;
	color: white;
	border: none;
	border-radius: 15px;
	font-size: 20px;
	font-weight: bolder;
	letter-spacing: 1px;
	box-shadow:  0px 2px 0px red;
    outline: none;

}

button:active{
	box-shadow:  0px 3px 0px transparent;
}


button:hover, button:focus{
	cursor: pointer;
}




.learn{
    width: 35%;
    padding: .9rem;
    border-radius: 3rem;
    border: 1px solid #f63854;
    color: red;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}


.img{
    margin-right: 1rem;
    flex: 1;
}
.Lorem{

    font-size: 20px;
  line-height: 2rem;
}

.box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:10px 1em;
    padding: .5rem;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
   

}

.cursor{
    width: 200px;
  text-decoration-color: #f63854;
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    /*overflow: hidden;*/
    border-style: inset;
    border-width: 2px;
    border: 2px solid #f63854;
}

.cursors{

    width: 200px;
    /*text-decoration-color: red;*/
      display: block;
      unicode-bidi: isolate;
      margin-block-start: 0.5em;
      margin-block-end: 0.5em;
      margin-inline-start: auto;
      margin-inline-end: auto;
      overflow: hidden;
      
      /*border-style: inset;*/
     border-width: 2px;
     
    
      border: 2px;
      outline: 2px solid #f63854;

        /*color: red;
      background-color: red;
       border: none;*/

}

.service{
    justify-content: center;
    font-weight: bolder;
    font-size: 23px;
    align-content: center;
    text-align: center;
}




/* .icon{
    margin-top: -0.5rem;
    margin-bottom: 3rem;
    margin-left: 8rem;
    text-align: center;
    border-radius: 100%;
	border:2px solid #8c8e9e;
    padding: .8rem;
}



.one, .two, .three, .four, .five, .six {
    padding: 1.5rem;
    background-color: white;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
} */



.check{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px 2em;
    padding: 1rem;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.para1, .para2, .para3, .para4, .para5, .para6{

    padding: 1.5rem;
    background-color: white;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    margin-bottom: 1rem;
    


}

.graph{
text-align: left;
}

.list{

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;

}


.all-in{

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 1em;
    padding-top: 1rem;
    padding-left: 10rem;
    padding-right: 10rem;
    margin-left: 5rem;
    height: 10rem;
    margin-top: 10px;
   margin-bottom: 300px;
    
    
    }
    
    .one1{
        display: flex;
    
         box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
         height: 12.5rem;
         margin-bottom: 1rem;
         /* padding-bottom: 1rem; */
    }
    
    .lor{
        /*box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);*/
        padding: 1rem;
        margin-right: 1rem;
        margin-bottom: 1.5rem;
    
    }
.task{
    padding-top: .5rem;
}

.role{
    padding-top: .5rem;
}
  
 
.single-price{
      
    padding-left: 2rem;
  text-align: center;
    transition: 0.9s;
   margin-right: 2rem ; 
   margin-left:2rem  ;
   margin-top: 2rem;
   padding-bottom: 2rem;
   padding: 1.5rem;
    
    box-shadow: 1px 1px 20px  rgba(0,0,0,0.3);

}






.testimonials{
    padding-top: 20px;
}  
.column_style,  
.user_ratings
{
    padding: 20px 50px;
  
}
.card_style{
    padding: 50px;
    border-radius: 5px;
}

.rated{
    color: #f63854;
}

.image{
    border-radius: 80%;
    
} 
 /*  */
.free_trial,
.contact_us,
.app-footer{
    padding:50px;
}
.card_style>img{
    margin: 10px auto;
}
input{
    /* padding: 0 20px 10px; */
    margin: 0 10px 10px 0;
}
.social_icons>a{
    text-decoration: none;
    color: #000;
    padding: 20px;
}
.column>ul>li,
.contact>p{
    padding: 5px 0;
}
.footer-line{
  border-top: 2px solid rgb(201, 196, 196);
}

